################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

/ScraperDemo/bin
/ScraperDemo/obj

node_modules
/ScraperDemo/wwwroot/dist
