<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/dist/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    @RenderBody()

    <script src="~/dist/jquery/jquery.min.js"></script>
    <script src="~/dist/popper/umd/popper.min.js"></script>
    <script src="~/dist/bootstrap/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
